/** To center the container and add frame around the body to center **/ 
body 
{
    background-color: lightcoral;
}

.frame 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 95vh;
    height: 100%;
}

.container 
{
    width: 400px;
    height: 500px;
    background-color:darkred;
    border-radius: 10px;
}

/** Style the result button **/

.results 
{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    background-color: white;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
}

/** Style the button container **/

.button-container 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: auto;
    flex-flow: column nowrap;
}

.row 
{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 60vh;
    height: 100vh;
}

/** Style the calculator buttons **/
.input
{
    text-align: center;
    border: none;
    background: none;
    border-radius: 10px;
    background-color: red;
    outline: none;
    flex: 1;
    padding: 25px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 15px;
    font-weight: bolder;
}

.input:hover
{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    background-color: rgb(156, 2, 2);
}

/** Add styling to buttons that are not numbers **/
.AC, .neg, .percent
{
    background-color: orange;
}

.add, .subtract, .multiply, .divide, .equal
{
    background-color: greenyellow;
}

.AC:hover, .neg:hover, .percent:hover, .equal:hover
{
    background-color: rgb(161, 106, 4);
}

.add:hover, .subtract:hover, .multiply:hover, .divide:hover, .equal:hover
{
    background-color: rgb(106, 156, 30);
}